html,
body {
    font-size: 62.5%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 40rem;
    height: 100%;
    margin: 0 auto;
}

.wrap {
    height: 100%;
    padding-bottom: 8rem;
}