/* display */
$display-n: none;
$display-i: inline;
$display-ib: inline-block;
$display-b: block;
$display-f: flex;
$display-g: grid;

/* common color */
$color-fff: #fff;
$color-000: #000000;
$color-333: #333;
$color-ccc: #ccc;
$color-acac: #acacac;
$color-eee: #eee;
$color-main: #57589a;
$color-sub: #383962;

/* common dim layer color */
$color-dim: #0000004c;

/* font-weight */
$font-w-lighter: 300;
$font-w-normal: 400;
$font-w-semibold: 500;
$font-w-bold: 700;

/* text-align */
$align-l: left;
$align-c: center;
$align-r: right;


$row: row;
$colum: column;

