/* display */
$display-n: none;
$display-i: inline;
$display-ib: inline-block;
$display-b: block;
$display-f: flex;
$display-g: grid;

/* common color */
$color-333: #333;
$color-eee: #eee;

/* font-weight */
$font-w-lighter: 300;
$font-w-normal: 400;
$font-w-semibold: 500;
$font-w-bold: 700;

/* text-align */
$align-l: left;
$align-c: center;
$align-r: right;
